.deck-container {
  background: url('../images/android-stripes.png');
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.4em;
}
.deck-container .slide {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
}
.deck-container .slide h1 {
  color: #000;
  font-size: 4em;
}
.deck-container .slide h2 {
  color: #c00;
  border-bottom-color: #ccc;
}
.deck-container .slide h3 {
  color: #888;
}
.deck-container .slide h3.author {
  position: absolute;
  top: 90%;
  left: 70%;
}
.deck-container .slide div.byline {
  text-align: center;
  font-style: italic;
  margin-bottom: 25px;
}
.deck-container .slide div.citation {
  margin-top: 0px;
  margin-bottom: 5px;
  text-indent: -3em;
  margin-left: 3em;
}
.deck-container .slide ul lh {
  font-weight:bold;
}
.deck-container .slide ul li {
  list-style-position: inside;
}
.deck-container .slide div {
  margin: 5px auto 10px auto;
}
.deck-container .slide div.left {
  float:left;
}
.deck-container .slide div.right {
  float:right;
}
.deck-container .slide div.center {
  text-align: center;
}
.deck-container .slide div.column {
  position: relative;
  left: 20px;
}
.deck-container .slide img.left {
  float: left;
}
.deck-container .slide img.right {
  float: right;
}
.deck-container .slide pre {
  border-color: #ccc;
}
.deck-container .slide code {
  color: #888;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #c00;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
